<p>Hola {{ name }},</p>
<p>Solicitaste un PIN para restablecimiento de la contraseña, el cual es:</p>
<p>
PIN: {{ pin }}  
</p>
<p>
Expirará el: {{ expire }}
</p>

<p>Si usted no solicitó restablecimiento de su clave, por favor ignore este correo.</p>